<footer class="footer mt-4">
    <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">


            <li class="list-inline-item">
                <a href="#"><img src="/images/facebook-cutout.png" width="40px" height="40px" style="margin-bottom: 10px;">
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.google.de/maps/place/Bulevardul+22+Decembrie+1918+1A,+Moreni+135300,+Romania/@44.9816702,25.6450855,18.8z/data=!4m18!1m12!4m11!1m3!2m2!1d25.6458094!2d44.9813907!1m6!1m2!1s0x40b257a25283b62d:0x1c5af422c28f4232!2sMoreni,+135300,+Romania!2m2!1d25.6402111!2d44.9820431!3m4!1s0x40b257bb4350752b:0x60f3cee92e55a7fc!8m2!3d44.9813479!4d25.645858?hl=en"><img src="/images/location1.png" width="30px" height="40px" style="margin-bottom: 10px; margin-left: 10px;">
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            

            <p class="copyright text-muted">Copyright &copy; Psihologie Cozma</p>
    </div>
</footer>

</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    var editor = new Quill('#editor', {
      modules: { toolbar: '#toolbar' },
      theme: 'snow'
    });
</script>

</body>

</html>